table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.1rem;
  }
  
td, th {
    border: 1px solid #aeaeae;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.center-t {
    text-align: center;
}

.cancel-book {
    text-decoration: none;
    color: blue;
}

.cancel-book:hover {
    text-decoration: underline;
}